*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

/* Home */

.banner{
    width: 100%;
    height: 45vmax;
    background-image: url("assets_hos/banner.jpg");
    background-size: cover;
}
.nav{
    width: 100%;
    height: 5vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-end{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
}
.logo{
    background-image: url("assets_hos/logo-hos.png");
    background-size: cover;
    background-color:rgba(12, 12, 12, 0.343);
    border-radius: 32px;
    margin: auto;
    height: 4rem;
    width: 7rem;
}
.nav a{
    text-decoration: none;
    color: azure;
    font-size: 1.5vmax;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-left: 2px solid rgb(240, 245, 240);
    border-right: 2px solid rgb(239, 247, 239);
    border-radius: 2px;
}
.nav a:hover{
    border-bottom: 2px solid rgb(2, 235, 6);
    border-left: 2px solid rgb(2, 235, 6);
    border-right: 2px solid rgb(2, 235, 6);
}
.dummy-text{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    height: 65%;
    margin-top: 5vmax;
    position: relative;
}
.banner-text{
    width: 80%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
}
.banner-text h1{
    color: rgb(255 255 255);
    font-size: 5vmax;
    text-shadow: 2px 2px 2px rgb(175, 16, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-text span{
    color: rgb(6, 239, 72);
    text-shadow: 2px 2px 2px rgb(42, 44, 43);
    font-size: 5vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-text p{
    color: azure;
    font-size: 1.5vmax;
}
.banner-text button{
    background-color: rgb(23, 185, 93);
    font-size: 1.3vmax;
    font-weight: 700;
    width: 25%;
    height: 12%;
    border: 3px solid black;
    border-radius: 12px;
}
.emergency{
    background-color: blue;
    width: 2.5vmax;
    height: 10vmax;
}

/* About Us */
.about_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}
.img_background{
    width: 49vmax;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_box{
    border: 3px solid rgb(162, 149, 149);
    position: relative;
    height: 60%;
    width: 30vmax;
    border-radius: 2rem;
}
#img_box img{
    object-fit: cover;
    background-position: center center;
    height: 100%;
    width: 30vmax;
    border-radius: 2rem;
    position: absolute;
    margin: 2rem;
    z-index: 4;
}
.content_container{
    width: 51vmax;
    padding: 2.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content_box{
    height: 80%;
    width: 40vmax;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}
#content_box h2{
    font-size: 2.3vmax;
    border-left: 4px solid aqua;
    border-radius: 0.1rem;
    padding-left:0.8rem ;
    color: aqua;
    font-weight: 500;
}
#content_box h2 p{
    display: inline;
    font-size: 2.2vmax;
    color: black;
}
#content_box p{
    font-size: 1.3vmax;
    color: #252424;
}
#content_box h3{
    font-size: 1.6vmax;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #5a5959;
}
.ul_dots{
    list-style-image: url(assets_hos/dots.png);

}
#solution_box{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 2rem;
}

#solution_box ul li h3{
    font-size: 1.5vmax;
    font-weight: 600;
    color: black;
}
#solution_box ul li p{
    font-size: 1.3vmax;
    padding-bottom: 0.6rem;
    color: #4d4c4c;
}

#solution_button button{
    background-color: red;
    height: 3rem;
    width: 9vmax;
    border: 0;
    border-radius: 0.5rem;
    font-weight: 700;
    color: white;
    font-size: 1.2vmax;
}
#solution_button button:hover{
    background-color: rgb(227, 37, 37);
}

.about_card_container{
    padding: 1rem 1rem;
    height: 40%;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.about_card{
    height:92%;
    width: 14vmax;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    background-color: #d0c0ec;
}
.about_card img{
    width: 4vmax;
    align-self: flex-end;
}
.card_text{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 5vmax;
}
.card_text p{
    font-size: 2vmax;
    font-weight: 500;
}