*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

/* Home */

.banner{
    width: 100%;
    height: 45vmax;
    background-image: url("assets_hos/banner.jpg");
    background-size: cover;
    background-position: center center;
}
.nav{
    width: 100%;
    margin: auto;
    height: 4vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.52);
}
.nav-end{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
}
.logo{
    background-image: url("assets_hos/logo-hos.png");
    background-size: cover;
    margin-left: 15%;
    margin-bottom:5px;
    height: 6vmax;
    width: 9vmax;
}
.nav a{
    text-decoration: none;
    color: azure;
    font-size: 1.5vmax;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-left: 2px solid rgb(240, 245, 240);
    border-right: 2px solid rgb(239, 247, 239);
    border-radius: 2px;
}
.nav a:hover{
    border-bottom: 2px solid rgb(2, 235, 6);
    border-left: 2px solid rgb(2, 235, 6);
    border-right: 2px solid rgb(2, 235, 6);
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70%;
}
.search-bar:hover{
    border-radius: 10px;
    border: 2px solid rgb(2, 235, 6);
}
.search-bar input{
    text-align: center;
    width: 85%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    outline: none;
}
.search{
    width: 15%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}
.join{
    background-color: rgb(23, 185, 93);
    font-size: 1.3vmax;
    font-weight: 700;
    width: 10%;
    height: 80%;
    border: 1px solid rgb(237, 221, 221);
    border-radius: 12px;
    cursor: pointer;
}
.join:hover{
    background-color: rgb(33, 230, 118);
    color: rgb(147, 126, 5);
}
.dummy-text{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    height: 65%;
    margin-top: 5vmax;
    position: relative;
}
.banner-text{
    width: 80%;
    height: 85%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
}
.banner-text h1{
    color: rgb(255 255 255);
    font-size: 5vmax;
    text-shadow: 2px 2px 2px rgb(175, 16, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-text span{
    color: rgb(6, 239, 72);
    text-shadow: 2px 2px 2px rgb(42, 44, 43);
    font-size: 5vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner-text p{
    color: azure;
    font-size: 1.5vmax;
}
.banner-text button{
    background-color: rgb(23, 185, 93);
    font-size: 1.3vmax;
    font-weight: 700;
    width: 25%;
    height: 12%;
    border: 3px solid black;
    border-radius: 12px;
    cursor: pointer;
}
.banner-text button:hover{
    background-color: rgb(27, 203, 103);
    color: rgb(56, 55, 55);
}
.emergency{
    background-color: rgb(251, 38, 5);
    width: 2.5vmax;
    height: 18vmax;
    font-size: 1.5vmax;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* About Us */
.about_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}
.img_background{
    width: 49vmax;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_box{
    border: 3px solid rgb(162, 149, 149);
    position: relative;
    height: 60%;
    width: 30vmax;
    border-radius: 2rem;
}
#img_box img{
    object-fit: cover;
    background-position: center center;
    height: 100%;
    width: 30vmax;
    border-radius: 2rem;
    position: absolute;
    margin: 2rem;
    z-index: 4;
}
.content_container{
    width: 51vmax;
    padding: 2.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content_box{
    height: 80%;
    width: 40vmax;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}
#content_box h2{
    font-size: 2.3vmax;
    border-left: 4px solid aqua;
    border-radius: 0.1rem;
    padding-left:0.8rem ;
    color: aqua;
    font-weight: 500;
}
#content_box h2 p{
    display: inline;
    font-size: 2.2vmax;
    color: black;
}
#content_box p{
    font-size: 1.3vmax;
    color: #252424;
}
#content_box h3{
    font-size: 1.6vmax;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #5a5959;
}
.ul_dots{
    list-style-image: url(assets_hos/dots.png);

}
#solution_box{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 2rem;
}

#solution_box ul li h3{
    font-size: 1.5vmax;
    font-weight: 600;
    color: black;
}
#solution_box ul li p{
    font-size: 1.3vmax;
    padding-bottom: 0.6rem;
    color: #4d4c4c;
}

#solution_button button{
    background-color: red;
    height: 3rem;
    width: 9vmax;
    border: 0;
    border-radius: 0.5rem;
    font-weight: 700;
    color: white;
    font-size: 1.2vmax;
}
#solution_button button:hover{
    background-color: rgb(227, 37, 37);
}

.about_card_container{
    padding: 1rem 1rem;
    height: 40%;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.about_card{
    height:92%;
    width: 14vmax;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    background-color: #d0c0ec;
}
.about_card img{
    width: 4vmax;
    align-self: flex-end;
}
.card_text{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 5vmax;
}
.card_text p{
    font-size: 2vmax;
    font-weight: 500;
}
/* urgent section */
.section-1-sub{
    width: 90%;
    height: 5vmax;
    background-color: antiquewhite;
    margin: auto;
}
.section-1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    font-weight: 700;
    color: black;
}
.section-1 h2 span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 0.5vmax solid rgb(245, 53, 5);
    font-size: 2.5vmax;
    font-weight: 700;
    color: rgb(245, 53, 5);
    padding-left: 5px;
}
.urgent-boxes{
    width: 100%;
    height: 20vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strip{
    background-color: rgb(188, 26, 131);
    width: 100%;
    height: 10vmax;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-1{
    width: 18vmax;
    height: 20vmax;
    background-color: black
}
.box-2{
    width: 18vmax;
    height: 20vmax;
    background-color: black;
}
.box-3{
    width: 11vmax;
    height: 8vmax;
    background-color: black;
}
.box-3 p{
    color: snow;
}
.box-4{
    width: 11vmax;
    height: 8vmax;
    background-color: black;
}